# We use a different key for dotfiles in order to be able to use the main SSH key in
# a different GH account. As in if the dotfiles are under @jakub-stastny, GH won't allow
# usage of the same SSH key under another account.
#
# https://www.fabian-keller.de/blog/configuring-a-different-ssh-key-per-git-repository
Host github.com
  #HostName github.com
  #Port 22
  #User git
  IdentityFile ~/.ssh/dotfiles_id_rsa
