[user]
  name = Jakub Šťastný
  email = jakub.stastny.pt+git@gmail.com

[core]
  excludesfile = ~/.gitignore

[commit]
  cleanup = whitespace

[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  ui = auto

[apply]
  whitespace = nowarn

[branch]
  autosetuprebase = always

[push]
  default = matching

[alias]
  st = status
  p = push
  pu = pull --rebase --autostash
  a = add
  c = commit -a -m
  cav = commit -a -v
  cm = commit -m
  cv = commit -v
  co = checkout
  df = diff
  dfc = diff --cached

[init]
  defaultBranch = master
