[user]
  name = James C Russell
  email = james@101ideas.cz

[core]
  excludesfile = ~/.gitignore

[commit]
  cleanup = whitespace

[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  ui = auto

[apply]
  whitespace = nowarn

[branch]
  autosetuprebase = always

[push]
  default = matching

[alias]
  cam = commit -a -m
  cav = commit -a -v
  cm = commit -m
  cv = commit -v
  co = checkout
  amend = commit --amend
  amend-no-edit = commit --amend --no-edit
  amend-all-no-edit = commit --amend --no-edit -a
  dc = diff --cached
  cb = "!git checkout $(git branch | fzf-tmux -d 15)"
  rb = "!git branch -D $(git branch | fzf-tmux -d 15)"
  bm = checkout master

[github]
  user = botanicus

[ghi]
  token = !security find-internet-password -a botanicus -s github.com -l 'ghi token' -w
