"*":
  core:
    disabledPackages: [
      "ex-mode"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "node_modules/*"
    ]
    packagesWithKeymapsDisabled: []
    telemetryConsent: "limited"
    themes: [
      "one-light-ui"
      "atom-light-syntax"
    ]
  editor:
    fontSize: 17
  "exception-reporting":
    userId: "2b26686f-e62d-5412-24a0-e7a786ac8b50"
  "rubocop-auto-correct":
    autoRun: true
    rubocopCommandPath: "/usr/local/bin/rubocop"
  "vim-mode-plus": {}
  "vim-mode-plus-ex-mode":
    notifiedUseExMode: true
  welcome:
    showOnStartup: false
