snippet date "Today's date." b
`date +%d/%m%/%Y` $0
endsnippet

snippet _skel "" b
endsnippet

# TODO: add coding.snippets and scope these (use the ones from Crystal that are not Crystal specific).
snippet todo "TODO."
TODO: `date +%d/%m/%Y` $0
endsnippet

snippet fixme "FIXME."
FIXME: `date +%d/%m/%Y` $0
endsnippet

snippet note "NOTE."
NOTE: `date +%d/%m/%Y` $0
endsnippet
