global !p
import sys, os

sys.path.append(os.path.join(os.getenv('HOME'), '.config/nvim/UltiSnips/helpers'))

from complete import complete
endglobal

snippet % "<% %>"
<% $1 %>
endsnippet

snippet %= "<%= %>"
<%= $1 %>
endsnippet
