global !p
import sys, os

sys.path.append(os.path.join(os.getenv('HOME'), '.config/nvim/UltiSnips/helpers'))

from complete import complete
endglobal

# Main.
snippet template "Expenses file template" b
Monday:$0

Tuesday:

Wednesday:

Thursday:

Friday:

Saturday:

Sunday:
endsnippet

snippet '- ' "Expense" rbA
- ${1:what}: ${2:amount} $3`!p complete(t[3], ['PLN', 'EUR', 'CZK', 'USD', 'MXN', 'COP'])`
endsnippet
