# NOTE: 13/05/2018 Currently only Jira is supported.
snippet # "Complete the issue number."
#`git rev-parse --abbrev-ref HEAD`
endsnippet

# https://circleci.com/docs/1.0/skip-a-build/
snippet s "CI skip"
[ci skip]
endsnippet

snippet c "Closes #issue"
Closes #
endsnippet
