global !p
import sys, os

sys.path.append(os.path.join(os.getenv('HOME'), '.config/nvim/UltiSnips/helpers'))

from complete import complete
endglobal

# Main.
snippet template " Rack app template" b
use ContentLength
run MyApp
endsnippet
