# Shall I move this into nvim-task-manager?
global !p
import sys, os

sys.path.append(os.path.join(os.getenv('HOME'), '.config/nvim/UltiSnips/helpers'))

from complete import complete
endglobal

# Main.
snippet template "Task manager week file template" b
Monday
${1:- }

Tuesday
$1

Wednesday
$1

Thursday
$1

Friday
$1

Saturday

Sunday
- Plan next week.
endsnippet

snippet ' #' "tag" rA
 #$1`!p snip.rv = complete(t[1], [])`
endsnippet

