snippet date "Today's date." b
`date +%d/%m%/%Y` $0
endsnippet

snippet todo "TODO."
TODO: `date +%d/%m/%Y` $0
endsnippet

snippet fixme "FIXME."
FIXME: `date +%d/%m/%Y` $0
endsnippet

snippet note "NOTE."
NOTE: `date +%d/%m/%Y` $0
endsnippet
