# snippet h "Hey ..." b
# Hey $1,

# $0
# endsnippet

# snippet s "Signature" b
# Best regards,

# Jakub Šťastný
# endsnippet

# snippet m "E-mail template" b
# Hey $1,

# $2

# Best regards,

# Jakub Šťastný
# endsnippet
